*
!.gitignore
!README.adoc
!README.md
!CHANGELOG.adoc
!LICENSE
!package.json
!pnpm-workspace.yaml
!docs/
!docs/**
!packages/
!packages/**
!packages/*/src/
!packages/*/src/**
!packages/*/package.json
!packages/*/tsconfig.json
node_modules/
**/node_modules/
**/dist/
**/*.local.*
